In [14]:
import pandas as pd
import json

In [15]:
file_path_one = "purchase_data copy.json"
file_path_two = "purchase_data2 copy.json"
pd_one = pd.read_json(file_path_one)
pd_two = pd.read_json(file_path_two)
#pd_one

In [16]:
#pd_two

In [17]:
# concatenate pd_one and pd_two at bottom 
purchase_data = pd.concat([pd_one,pd_two])
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [18]:
player_count = len(purchase_data["SN"].unique())
player_count

612

In [19]:
items = len(purchase_data["Item ID"].unique())
items

184

In [20]:
price = round(purchase_data["Price"].mean(),2)
price

2.93

In [21]:
tot_purchases = len(purchase_data)
tot_purchases

858

In [22]:
tot_rev = round(purchase_data["Price"].sum(),2)
tot_rev

2514.43

# Member Demographics

In [23]:
# Get rid of duplicate SN to get accurate representation of genders
members = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
gender = pd.DataFrame(members["Gender"].value_counts())
# Sort index
gender = gender.sort_index(axis=0, level=None, ascending=True)
percent_female = round(gender.iloc[0]/gender.sum(),2)
percent_male = round(gender.iloc[1]/gender.sum(),2)
percent_other = round(gender.iloc[2]/gender.sum(),2)
#member_demographics = pd.DataFrame({"% Female": percent_female,
                                    #"% Male": percent_male,
                                    #"% Other": percent_other})
member_demographics

NameError: name 'member_demographics' is not defined

# Purchasing Analysis (Gender)

#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [24]:
# Use purchase_count df to include multiple purchases made by same SN
purchase_count = pd.DataFrame(purchase_data.groupby("Gender")["Item Name"].count())
purchase_count

                       Item Name
Gender
Female                       149
Male                         697
Other / Non-Disclosed         12

In [25]:
avg_purchase_price = pd.DataFrame(round(purchase_data.groupby("Gender")["Price"].mean(),2))
avg_purchase_price

                       Price
Gender
Female                  2.85
Male                    2.94
Other / Non-Disclosed   3.15

In [26]:
tot_purchase_value = pd.DataFrame(round(purchase_data.groupby("Gender")["Price"].sum(),2))
tot_purchase_value

                         Price
Gender
Female                  424.29
Male                   2052.28
Other / Non-Disclosed    37.86

In [56]:
norm_pur_count = round(purchase_count["Item Name"]/gender.Gender,2)
norm_tot_purch = round(tot_purchase_value.Price/gender.Gender,2)
normalized_data = pd.DataFrame({"Normalized Purchase Count": norm_pur_count,
                              "Normalized Total Purchase Value": norm_tot_purch})

#a=[1,2,3]
#b=[2,2,2]
#A=pd.DataFrame(a)
#B=pd.DataFrame(b)
#C=A/B
#C

normalized_data

,Normalized Purchase Count,Normalized Total Purchase Value
Gender,,
Female,1.38,3.93
Male,1.41,4.15
Other / Non-Disclosed,1.33,4.21

In [32]:
gender

                       Gender
Female                    108
Male                      495
Other / Non-Disclosed       9

# Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [143]:
spenders_item = (purchase_data.groupby("SN")["Item Name"].count())
#spenders_item = sort_values("Item Name", axis=0, ascending=False, inplace=False)
spenders_tot_price = (purchase_data.groupby("SN")["Price"].sum())
spenders_avg = round(spenders_tot_price/spenders_item,2)
spenders = pd.DataFrame({"Purchase Count":spenders_item,
                        "Average Purchase Price":spenders_avg,
                        "Total Purchase Value":spenders_tot_price})
spenders = spenders.reset_index()
spenders = spenders.sort_values(["Purchase Count"], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
spenders.head()

,SN,Average Purchase Price,Purchase Count,Total Purchase Value
574,Undirrala66,3.41,5,17.06
382,Mindimnya67,3.18,4,12.74
22,Aerithllora36,3.78,4,15.10
415,Qarwen67,2.49,4,9.97
459,Saedue76,3.39,4,13.56

# Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [152]:
items = purchase_data.groupby("Item ID")["Item Name"].count()
items_price = purchase_data.groupby("Item ID")["Price"].value_counts()
items_price[2]

#total_purch_value = items_price("Index")*items_price("Price")

Price
2.65    1
3.40    1
Name: Price, dtype: int64

In [153]:
items_price

Item ID  Price
0        1.82     1
         1.89     1
1        2.28     4
         3.67     1
2        2.65     1
         3.40     1
3        1.79     1
4        1.91     1
         2.28     1
5        1.32     3
         2.63     1
6        1.20     3
         3.58     1
7        4.51     6
8        3.91     6
         2.22     1
9        2.04     2
         1.42     1
10       1.73     6
         1.81     1
11       2.52     7
12       4.30     5
         3.36     1
13       1.49     9
14       1.59     5
         2.82     1
15       1.03     6
16       3.11     4
         2.15     1
17       3.47     3
                 ..
163      4.16     1
164      1.31     1
         1.92     1
165      3.37     3
166      4.25     3
167      2.38     2
         3.25     1
168      2.64     1
169      3.32     4
170      1.98     5
         1.74     1
171      3.62     5
172      1.69     7
         2.71     1
173      4.83     5
         4.01     1
174      2.46     5
         1.36     1
175      1.24     9
176      2.97     4
         2.12     2
177      4.89     4
178      2.41     2
179      1.88     7
180      2.78     5
         2.77     2
181      4.56     3
         4.12     1
182      3.48     5
183      2.36     5
Name: Price, Length: 247, dtype: int64